/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color:  hsl(0, 0%, 100%);
}

body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  height: 956px;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*container for layout*/
.page {
  height: 90%;
  width: 80%;
  border-radius: 12px;
  overflow: hidden;
  background-color: hsl(244, 38%, 16%);
  display: flex;
  flex-direction: column;
}

/*page content containers*/
.page__info, .page__pic {
  width: 100%;
  height: 70%;
}

/*Container with pic*/
.page__pic {
  height: 30%;
  background-image: url(./images/image-header-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: hsl(277deg 64% 61%);
  background-blend-mode: multiply;
}

/*container with info*/
.page__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.page__info-heading {
  width: 100%;
  font-size: 2em;
  margin-top: 10%;
}

/*insights styles*/
.page__info-heading span {
  color: hsl(277, 64%, 61%);
}

.page__info-text {
  width: 90%;
  margin-top: 5%;
  font-size: .95em;
  line-height: 1.65em;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}

/*List of stats*/
.page__info ul {
  margin-top: 15%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.page__info ul li {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  margin-bottom: 20%;
}

.page__info ul li span {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: .5em;
  margin-top: 10%;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
}

.attribution { 
  width: 100%;
  padding-top: 2%;
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/*===========media queries===========*/
@media screen and (min-width: 425px) {
  .page__pic {
    width: 340px;
    height: 270px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .page__pic {
    width: 610px;
    height: 620px;
    margin: auto;
  }
  .page__info-heading {
    width: 60%;
    margin-top: 10%;
  }
  .page__info-text {
    width: 80%;
  }
  .page__info ul {
    flex-direction: row;
    margin-top: 5%;
    width: 100%;
    justify-content: center;
  }
  .page__info ul li {
    margin-right: 10%;
  }
  .page__info ul li:nth-of-type(3) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .page__pic {
    width: 820px;
    height: 1420px;
  }
  .page__info-heading, .page__info-text {
    margin-top: 0;
  }
  .page__info ul {
    margin-top: 0;
  }
  .page__info ul li {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    flex-direction: row-reverse;
    height: 50%;
  }
  .page__pic, .page__info {
    width: 50%;
    height: 100%;
  }
  .page__pic {
    width: 50%;
    height: 100%;
  }
  .page__info {
    text-align: left;
  }
  .page__info-heading, .page__info-text {
    width: 70%;
    font-size: 1em;
  }
  .page__info-heading {
    width: 70%;
    font-size: 2.25em;
  }
  .page__info ul {
    width: 70%;
    justify-content: flex-start;
  }
  .page__info ul li {
    font-size: 1.5em;
  }
}